body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    background-color: black;


}

.top{
    background-color:darkslategrey;
    width:100%;
    border-radius: 10px;
    color: darkkhaki;
    height: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    
    
}   

#personal{
    border:2px solid black;
    border-radius: 50px;
    max-width: 200px;

}

.name{
    
    margin-left: 10%; 
    font-size: 200%;

}



a{
    color: mintcream;
    margin: 60px;

    }

 
.links{
    height: auto;
    background-color:tan;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
    text-align: center;
    color: mintcream;
    
} 

#words{
    border-radius: 10px;
    margin-left: 20%;
    margin-right:20%;
    color: #3e2723;
    margin-bottom: 10%;
    font-size:150%;


}


main{
    background-color: tan;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;

}



header{
    text-align: center;
    
}

#work{
     margin:20px;
     border-radius:10px;
     border:1px solid black;
}

#about{
    border:5px solid black;
    border-radius:10px;
    margin:20px
}

#contact{   
    margin:20px;
    border-radius:10px;
    border:1px solid black;

}

.contact{
    text-align: center;
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    margin-top: 2px;
    color: darkkhaki;

}
    



footer{
    text-align: center;
    color: darkred;
    border: 2px solid black;

}
